.admin{
    overflow: hidden;
    background-color:#D7E4F2;
    width:100%;
    margin: 0 0 0 0;
	min-height: 100vh;
	padding: 0 0 0 0;
    font-family: 'Urbanist';
}

.firstsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.searchinput{
    width: 36.625rem;
    height: 3.938rem;
    border-radius: 1.125rem;
    border: 5px solid #286FB4;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: rgba(11, 10, 10, 0.6);
}

.searchbtn{
    margin-left: 1rem;
    width: 6.3rem;
    height: 6.35rem;
}

.signoutbtn{
    margin-left: 3rem;
    border-radius: 18px;
    width: 11.625rem;
    height: 4.8rem;
    border: 5px solid #286FB4;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: rgba(11, 10, 10, 0.6);
}

.secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.188rem;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: left;
    height: max-content;
    width: max-content;
    margin-left: -3rem;
}

.column {
    flex: 50%;
    /* text-align: left; */
    height:auto;
}

.column-40 {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.column-60 {
    flex: 60%;
    text-align: left;
    height:auto;
    padding: 2rem;
}

.h1Text{
    font-weight: 700;
    font-size: 40px;
    line-height: 3.438rem;
}

.container-5{
    display: flex;
    text-align: left;
    justify-content: center;
    width: max-content;
}

.imgstyle{
    border-radius: 5rem;
    width: 7rem;
    height: 7rem;
}

.webtext{
    color: #286FB4 ;
    font-weight: 500;
    font-size: 24px;
    line-height: 2.063rem;
}

.profilebtn{
    margin-top: 0rem;
    margin-left: 11.5rem;
    width: 5rem;
    height: 5rem;
}

.addbtn{
    margin-top: 0rem;
    width: 5rem;
    height: 5rem;
}


.firstcontainer{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    width: 60rem;
    height: 6rem;
    padding-top: 1.5rem;
}

.col-secondcontainer{
    margin-left: 2rem;
    text-align: left;
}

.center-container{
    display: flex;
    border-radius: 1rem;
    justify-content: left;
    align-items: center;
    background-color: #F3F7FB;
    width: 57.813rem;
    height: max-content;
}

.thirdsection{
    text-align: center;
    margin-top: 6.438rem;
    height: 12rem;
}

.thirdcontainer{
    text-align: center;
    height: 8rem;
}

.actionbtn{
    width: 8rem;
    height: 8rem;
}

.actionbtn-Lf{
    margin-left: 3rem;
}

.fourthsection{
    text-align: center;
    margin-top: 4.813rem;
    height: 12rem;
}

.fourthcontainer{
    text-align: center;
    height: 8rem;
}

.fifthsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
}

.center-fifthContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F7FB;
    width: 57.813rem;
    height: max-content;
    border-radius: 1.5rem;
}

.col-secondcontainer .text{
    padding-right: 6rem;
    color: #286FB4;
}

.fromsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.fromcontainer{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 57.813rem;
}

.col-fromcontainer{
    text-align: left;
 }

.contact-form .form-field {
	position: relative;
	margin: 32px 0;
}

.contact-form .space-5{
    margin-left: 5rem;
}

.contact-form .space-3{
    margin-left: 3rem;
}

.contact-form .input-text{
	display: block;
	width: 23rem;
	height: 3rem;
	border-width: 0 0 2px 0;
	border-color: #5C6168;
	background-color: #D7E4F2;
	color: #000000;
	font-size: 18px;
	line-height: 1.625rem;
	font-weight: 400;
}

.contact-form .input-text-2{
    display: block;
	width: 23rem;
	height: 10.4rem;
	border-width: 0 0 2px 0;
	border-color: #5C6168;
	background-color: #D7E4F2;
	color: #000000;
	font-size: 18px;
	line-height: 1.625rem;
	font-weight: 400;
}

.contact-form .form-control {
	width: 100%;
	height: 5rem;
	border-width: 0 0 2px 0;
	border-color: #ffffff;
	background-color: #2a2a2a;
	color: #ffffff;
	font-size: 18px;
	line-height: 1.625rem;
	font-weight: 400;
}

.contact-form .label {
	font-size: 24px;
	line-height: 2.063rem;
	font-weight: 700;
	color: rgba(10, 10, 11, 0.6);
	cursor: text;
    margin-top: 5rem;
}

.sendBtncontainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendtBtn{
    width: 11.625rem;
    height: 3.938rem;
    font-weight: 700;
    font-size: 24px;
    color: rgba(10, 10, 11, 0.6);
    line-height: 2.063rem;
    background: #F3F7FB;
    border: 5px solid #286FB4;
    box-shadow: 8px 8px 18px rgba(40, 111, 180, 0.4);
    border-radius: 18px;
}

.ViewBtncontainer{
    margin-top: 5rem;
}

.ViewBtn{
    width: 100%;
    height: 3.125rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 2.063rem;
    border-color: transparent;
}

.h3-color{
    color: #0A0A0B;
}

.helptext{
    font-weight: 500;
    font-size: 24px;
    line-height: 2.063rem;
    color: #286FB4;
}